{
  "url": "https://illegal-constantina-forumbd-63b7020a.koyeb.app",
  "secret": "your-random-secret",
  "database": "postgres",
  "postgres": {
    "host": "ep-muddy-hall-a4xfddxq.us-east-1.pg.koyeb.app",
    "port": "5432",
    "database": "koyebdb",
    "user": "koyeb-adm",
    "password": "******"
  },
  "port": "4567"
}
